# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.env
.env.local
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be committed to version control.
.vscode/
!.vscode/extensions.json

# Flutter
/Android/Flutter/flutter_export_environment.sh

# Coverage
coverage/

# Build artifacts
build/
.dart_tool/
pubspec.lock

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
